{% load section_helpers %}
<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Your New Armstrong Project</title>
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<body>
    <header>
        {% block header %}
            <h1>Welcome to Armstrong!</h1>
        {% endblock %}
    </header>
    <div>
        {% block sidemenu %}
        <a href='{% url front_page %}'>Home</a>
        {% section_menu section_view='section_view' sections=mad_sections template='navigation/sections.html' %}
        {% endblock %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div> <!--! end of #container -->
    <!-- JavaScript at the bottom for fast page loading -->
</body>
</html>
